.movie-card {
  padding: 16px 18px;
  border-radius: 12px;
  
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s, box-shadow 0.2s;

  overflow: hidden;
  background: #e9e6eb;
}

.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.movie-card a {
  font-size: 14px;
  font-weight: 500;
  padding: 4px 10px;
  margin: 5px 0;
  border-radius: 999px;
  
  color: #3b82f6;
  position: relative;
  z-index: 2; /* Ensures links stay on top of the clickable card */
}

.movie-director a {
  font-size: 15px;
  background: #d6d7db;
}

.movie-actor a{
  background: #dedee1;
}

.movie-card a:hover {
  text-decoration: underline;
}

.movie-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.1);
}

.movie-title {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #1f2937;
}

.movie-year {
  margin-left: 6px;
  font-size: 0.9rem;
  color: #6b7280;
  font-weight: 500;
}

.movie-director {
  font-size: 14px;
  color: #4f5b71;
  margin: 16px 0px;
}

.movie-director strong {
  font-weight: 700;
}

.movie-actor {
  font-size: 14px;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin-top: 22px;
}

.movie-actor strong { 
  color: #4f5b71;
  font-weight: 600;
}

.movie-actor span {
  margin-bottom: 6px;
}

.movie-genres {
  font-size: 16px;

  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  margin-top: 14px;
}

.genre-badge {
  background: #eef2ff;
  color: #4338ca;
  font-size: 13px;
  padding: 4px 10px;
  margin-top: 7px;
  border-radius: 999px;
  font-weight: 500;
}