.filters {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.filters select {
  font-size: 16px;

  padding: 16px 10px;
  border-radius: 5px;
}

.filters button {
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 9999px;

  background: linear-gradient(85deg, #21c0d9, #640a9b 100%);
}
