body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: white;
}

.container {
  margin: auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 32px;
}

.muted {
  color: #ffffffde;
}

.home-button-container {
  margin-top: 8px;
}

.home-button-container button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 30px;
  margin-left: 5px;
  border-radius: 9999px;
  cursor: pointer;
  background: #226d79;
}

@media (max-width: 768px) {
  h1 {
    margin: 20px 0px;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }
}