body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: white;
}

.container {
  margin: auto;
  padding: 30px 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 32px;
}

.muted {
  color: #ffffffde;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #2d2929;
  padding: 0px 40px;
}

.header-container h1 {
  color: #0eb963;
  font-size: 47px;
  line-height: 1.1;

  margin: 30px 0px 30px -10px;
}

.home-button-container button {
  font-size: 18px;
  border-radius: 99px;
  background: #127f48;
  margin-top: 5px
}


@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  h1 {
    margin: 20px 0px;
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
  }

  .home-button-container button {
    margin-bottom: 25px;
  }

}